<div class="container mt-3">
<div class="row">
<% Event::TEMPLATES.each do |key, label| %>
<div class="col-4">
<%= link_to edit_event_path(@event, template_key: key) do %>
<div class="card" style="width: 18rem;">
  <%= image_tag "/#{key}.png", class: "card-img-top", alt: '...' %>
  <div class="card-body">
    <p class="card-text"><%= label %></p>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
</div>
