<div class="container mt-3">
<div class="row">
<%= Event::TEMPLATES.each do |key, label| %>
<div class="col-4">
<%= link_to new_event_path(template_key: key, date: params[:date]) do %>
<div class="card" style="width: 18rem;">
  <%= image_tag "/#{key}.png", class: "card-img-top", alt: '...' %>
  <div class="card-body">
    <p class="card-text"><%= label %></p>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
</div>
